.mySwiper {
  padding: 6.5rem 0 !important;
}
.mySwiper .swiper-slide {
  text-align: justify;
}
.mySwiper .swiper {
  width: 100%;
  padding: 6rem 0 !important;
}
.mySwiper2 {
  width: 80vw !important;
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  z-index: 12;
}
.mySwiper2 .swiper-slide {
  cursor: pointer;
  /* width: 200px;
  height: 200px; */
  width: 150px !important;
  height: 150px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  color: #2a2a2a69;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -ms-border-radius: 100% !important;
  -o-border-radius: 100% !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.mySwiper2 .swiper-slide-active {
  scale: 1.2;
  color: #2a2a2a;
  background-color: #eeeeee;
  box-shadow: #2a5e97 2px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
