.left_footer p::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin-top: 15px;
    margin-right: 7px;
}
.left_footer p::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    background-color: #fff;
    margin-top: 75px;
    margin-right: 222px;
}