
@media screen and (max-width: 768px) {
    .menu {
      position: fixed;
      flex-direction: column;
      top: 0;
      background-color: #2a2a2a;
      width: 47vw;
      margin-right: 130px;
      padding: 20px;
      z-index: 1000;
      margin: 0 auto;
      /* right: 0; */
      left: 0;
      height: 100vh;
      padding-top: 50px;
      color: #fff;
    }
  }
  